<style type="text/css">
    td.monster-label {text-align: right; padding-right: 6px;}
    td.monster-input {text-align: left;}
    input.monster-numeric {width: 6em;}
    label.input-error {color: red;}
</style>

<div class="jumbotron text-center">
    <h2>Monster Creator</h2>
</div>
<div style="width: 100%">
<div style="width: 50%; margin: 0 auto">
<form name="monsterForm" action="" class="register">
    <h1>Monster: {{monster.name}}</h1>
    <fieldset class="row1">
        <legend>Monster Info</legend>
        <table border="0">
            <tr>
                <td class="monster-label"><label>Monster Name</label></td>
                <td td class="monster-input"><input type="text" name="monsterName" ng-model="monster.name" ng-required="true" ng-trim="true" size="24" required></td>
                <td><label class="input-error" ng-show="monsterForm.monsterName.$error.required">Name is required</label></td>
            </tr>

            <tr>
                <td class="monster-label"><label style="margin-left: 10px">Monster Rank</label></td>
                <td class="monster-input"><select class="text" ng-model="monster.rank">
                    <option value="MINION">Minion</option>
                    <option value="BASIC">Grunt</option>
                    <option value="LIEUTENANT">Lieutenant</option>
                    <option value="BOSS">Boss</option>
                </select></td>
            </tr>
        </table>
    </fieldset>
    <fieldset class="row2">
        <legend>Monster Stats</legend>
        <table border="0">
        <tr>
            <td class="monster-label"><label>Hitpoints</label></td>
            <td td class="monster-input"><input type="number" class="monster-numeric" ng-model="monster.stats.maximumHitpoints" size="6" maxlength="6"/></td>
        </tr>
        <tr>
            <td class="monster-label"><label>Zone of Control
            </label></td>
            <td td class="monster-input"><input type="number" class="monster-numeric" ng-model="monster.stats.zoneOfControl" size="6" maxlength="2"/></td>
            <td><label class="input-error" ng-show="false">Error?</label></td>
        </tr>
        <tr>
            <td class="monster-label"> <label>Movement Speed
            </label></td>
            <td td class="monster-input"><input type="number" class="monster-numeric" ng-model="monster.stats.movementSpeed" size="6" maxlength="2"/></td>
        </tr>
        <tr>
            <td class="monster-label"><label>Physical Resistance
            </label></td>
            <td td class="monster-input"><input type="number" class="monster-numeric" ng-model="monster.stats.physicalResistance" size="6" maxlength="3"/></td>
        </tr>
        <tr>
            <td class="monster-label"><label>Magical Resistance
            </label></td>
            <td td class="monster-input"><input type="number" class="monster-numeric" ng-model="monster.stats.magicalResistance" size="6" maxlength="3"/></td>
        </tr>
        <tr>
            <td class="monster-label"><label>Mental Resistance
            </label></td>
            <td td class="monster-input"><input type="number" class="monster-numeric" ng-model="monster.stats.mentalResistance" size="6" maxlength="3"/></td>
        </tr>
        </table>
    </fieldset>
    <fieldset class="row3">
        <legend>Passive Abilities</legend>
        <table border="0">
        <tr ng-repeat="passive in monster.passiveAbilities">
            <td class="monster-label"><label>Name</label></td>
            <td class="monster-input"><input type="text" size="24" ng-model="passive.name"></td>
            <td class="monster-label"><label style="margin-left: 16px">Effect</label></td>
            <td class="monster-input"><input type="text" size="72" ng-model="passive.effect.effectDescription"></td>
            <!-- TODO: Use CSS Tables to make the effect description loop around as-needed -->
        </tr>
        </table>
    </fieldset>
    <button class="btn">Save Monster &raquo;</button>
</form>
</div>
</div>