<!-- TODO: Move this all into a dedicated CSS file. -->
<style type="text/css">
    /* Size for the monster creator form. Note: if you change this width then change effect-field. */
    .monster-creator-form-container {width: 100%;}
    .monster-creator-form {width: 50rem; margin: 0 auto;}

    /* Labels and input for monster creator. */
    td.monster-label {text-align: left; padding-right: 6px;}
    td.monster-input {text-align: left;}
    input.monster-numeric {width: 6em;}
    .input-error {color: red; padding-left: 6px;}

    /* Monster abilities. Grouping and formatting like a table. */
    .monster-ability-list {
        display: table;
        width: 100%;
    }
    .monster-ability-group-container, .monster-ability-group-container-alt {
        background-color: #efefef;
        padding-bottom: 10px;
    }
    .monster-ability-group-container-alt
    {
        background-color: #f7f7f7;
    }
    .monster-ability-group-container .monster-input, .monster-ability-group-container-alt .monster-input
    {
        background: transparent;
        border: 1px groove;
    }
    .monster-ability-group {
        display: table-row-group;
    }
    .monster-ability-row {
        display: table-row;
    }
    .monster-ability-cell
    {
        display: table-cell;
    }
    .monster-ability-ctrl-fill {
        width: calc(100% - 10px);
    }
    /* For monster effects: divide label and input over the entire space. */
    /* Note: these two should add up to the form width, or less. */
    span.monster-ability-left {
        width: 6rem;
    }
    span.monster-ability-right {
        width: 44rem;
    }
    .monster-ability-ctrl-margin
    {
        padding-left: 6px;
    }
    /* Controls for abilities. */
    .ability-remove-button {
        text-align: center;
        padding: 0px;
        width: 30px;
        height: 30px;
        position: relative;
        top: 50%;
        transform: translateY(50%);
        /* border: 1px solid ; */
    }
    .ability-remove-button-container {
        float: right;
        clear: right;
        padding: 0 6px 0 3px;
    }
    .monster-ability-controls {
        margin-top: 10px;
        text-align: right;
    }
    .monster-add-ability-span {
        padding-right: 20px;
        padding-left: 6px;
    }
    .ability-add-button {
        width: 30px;
        height: 30px;
        padding: 0;
        text-align: center;
    }

    .clickable {
        cursor: pointer;
    }

    /* Monster creator controls group. */
    fieldset.monster-controls {
        margin-top: 15px;
        text-align: right;
        background: #f0f0f2;
        border-top: 1px solid #c6c7cc;
        padding: 20px;
    }
</style>




<div class="jumbotron text-center">
    <h2>Monster Editor</h2>
</div>
<div class="monster-creator-form-container">
<form name="monsterForm" action="" class="register monster-creator-form">
    <h1>Monster: {{monster.name}}</h1>

    <fieldset class="row1" ng-disabled="savingInProgress">
        <legend>Monster Info</legend>
        <table border="0">
            <tr>
                <td class="monster-label"><label>Monster ID</label></td>
                <td class="monster-input"><span ng-bind="monster.id"></span></td>
            </tr>

            <tr>
                <td class="monster-label"><label for="mictrl-name">Monster Name</label></td>
                <td class="monster-input"><input type="text" name="monsterName" id="mictrl-name" ng-model="monster.name" ng-required="true" ng-trim="true" size="24" required></td>
                <td><span class="input-error" ng-show="monsterForm.monsterName.$error.required">Name is required</span></td>
            </tr>

            <tr>
                <td class="monster-label"><label for="mictrl-rank" class="monster-label">Monster Rank</label></td>
                <td class="monster-input"><select class="text" id="mictrl-rank" ng-model="monster.rank">
                    <option value="MINION">Minion</option>
                    <option value="BASIC">Grunt</option>
                    <option value="LIEUTENANT">Lieutenant</option>
                    <option value="BOSS">Boss</option>
                </select></td>
            </tr>
        </table>
    </fieldset>

    <fieldset class="row2" ng-disabled="savingInProgress">
        <legend>Monster Stats</legend>
        <table border="0">
        <tr>
            <td class="monster-label"><label for="mictrl-hp">Hitpoints</label></td>
            <td td class="monster-input"><input type="number" id="mictrl-hp" class="monster-numeric" ng-model="monster.stats.maximumHitpoints" size="6" min="0" required/></td>
        </tr>
        <tr>
            <td class="monster-label"><label for="mictrl-zoc">Zone of Control
            </label></td>
            <td td class="monster-input"><input type="number" id="mictrl-zoc" class="monster-numeric" ng-model="monster.stats.zoneOfControl" size="6" maxlength="2" min="0" required/></td>
            <td><label class="input-error" ng-show="false">Error?</label></td>
        </tr>
        <tr>
            <td class="monster-label"> <label for="mictrl-movsp">Movement Speed
            </label></td>
            <td td class="monster-input"><input type="number" id="mictrl-movsp" class="monster-numeric" ng-model="monster.stats.movementSpeed" size="6" maxlength="2" min="0" required/></td>
        </tr>
        <tr>
            <td class="monster-label"><label for="mictrl-phres">Physical Resistance
            </label></td>
            <td td class="monster-input"><input type="number" id="mictrl-phres" class="monster-numeric" ng-model="monster.stats.physicalResistance" size="6" maxlength="3" required/></td>
        </tr>
        <tr>
            <td class="monster-label"><label for="mictrl-magres">Magical Resistance
            </label></td>
            <td td class="monster-input"><input type="number" id="mictrl-magres" class="monster-numeric" ng-model="monster.stats.magicalResistance" size="6" maxlength="3" required/></td>
        </tr>
        <tr>
            <td class="monster-label"><label for="mictrl-menres">Mental Resistance
            </label></td>
            <td td class="monster-input"><input type="number" id="mictrl-menres" class="monster-numeric" ng-model="monster.stats.mentalResistance" size="6" maxlength="3" required/></td>
        </tr>
        </table>
    </fieldset>

    <fieldset class="row3" ng-disabled="savingInProgress">
        <legend>Passive Abilities</legend>
        <div class="monster-ability-list">
            <div ng-repeat="passive in monster.passiveAbilities">
                <ng-form name="abilityInnerForm">
                <!-- Switch between two alternating classes to visually distinguish the abilities in the list -->
                <div class="{{($index % 2 == 0) ? 'monster-ability-group-container' : 'monster-ability-group-container-alt'}}">
                <!-- Control to remove the ability -->
                <div class="ability-remove-button-container"><button class="btn ability-remove-button" title="Remove this ability" ng-click="removePassiveAbility($index)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></div>
                <!-- Display and edit controls for the ability -->
                <div class="monster-ability-group">
                    <div class="monster-ability-row">
                        <span class="monster-ability-cell monster-ability-left"><label class="monster-label" for="mictrl-pa-name{{$index}}">Name</label></span>
                        <span class="monster-ability-cell monster-ability-right">
                            <span class="monster-ability-ctrl-margin"><input type="text" class="monster-input" id="mictrl-pa-name{{$index}}" name="passiveNameCtrl" size="24" ng-model="passive.name" required></span>
                            <span class="input-error" ng-show="abilityInnerForm.passiveNameCtrl.$error.required">Name is required</span>
                        </span>
                    </div>
                    <div class="monster-ability-row">
                        <span class="monster-ability-cell monster-ability-left"><label class="monster-label" for="mictrl-pa-eff{{$index}}">Effect</label></span>
                        <span class="monster-ability-cell monster-ability-right"><span class="monster-ability-ctrl-margin"><input type="text" class="monster-input monster-ability-ctrl-fill" id="mictrl-pa-eff{{$index}}" size="40" ng-model="passive.effect.effectDescription"></span></span>
                    </div>
                </div>
                </div>
                </ng-form>
            </div>
            <!-- Controls to add new ability -->
            <div class="monster-ability-controls">
                <span class="clickable" ng-click="addPassiveAbility()">[Click here to add a passive ability:
                <span class="monster-add-ability-span">
                <button class="btn ability-add-button" title="Add passive ability"><span class="glyphicon glyphicon-plus"></span></button> ]
                </span></span>
            </div>
        </div>
    </fieldset>

    <fieldset class="row4" ng-disabled="savingInProgress">
        <legend>Active Abilities</legend>
        <div class="monster-ability-list">
            <div ng-repeat="active in monster.activeAbilities">
                <ng-form name="abilityInnerForm">
                    <!-- Switch between two alternating classes to visually distinguish the abilities in the list -->
                    <div class="{{($index % 2 == 0) ? 'monster-ability-group-container' : 'monster-ability-group-container-alt'}}">
                        <!-- Control to remove the ability -->
                        <div class="ability-remove-button-container"><button class="btn ability-remove-button" title="Remove this ability" ng-click="removeActiveAbility($index)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></div>
                        <!-- Display and edit controls for the ability -->
                        <div class="monster-ability-group">
                            <div class="monster-ability-row">
                                <span class="monster-ability-cell monster-ability-left"><label class="monster-label" for="mictrl-aa-name{{$index}}">Name</label></span>
                                <span class="monster-ability-cell monster-ability-right">
                                    <span class="monster-ability-ctrl-margin"><input type="text" class="monster-input" id="mictrl-aa-name{{$index}}" name="activeNameCtrl" size="24" ng-model="active.name" required></span>
                                    <span class="input-error" ng-show="abilityInnerForm.activeNameCtrl.$error.required">Name is required</span>
                                </span>
                            </div>
                            <div class="monster-ability-row">
                                <span class="monster-ability-cell monster-ability-left"><label class="monster-label" for="mictrl-aa-mindmg{{$index}}">Damage</label></span>
                                <span class="monster-ability-cell monster-ability-ctrl-margin">
                                    <input type="number" id="mictrl-aa-mindmg{{$index}}" class="monster-numeric" ng-model="active.minimumDamage" size="6" min="0" required>
                                    -
                                    <input type="number" id="mictrl-aa-maxdmg{{$index}}" class="monster-numeric" ng-model="active.maximumDamage" size="6" min="0" required>
                                    <label class="monster-label monster-ability-ctrl-margin" for="mictrl-aa-maxdmg{{$index}}">(min. - max.)</label>
                                </span>
                            </div>
                            <div class="monster-ability-row">
                                <span class="monster-ability-cell monster-ability-left"><label class="monster-label" for="mictrl-aa-eff{{$index}}">Effect</label></span>
                                <span class="monster-ability-cell monster-ability-right"><span class="monster-ability-ctrl-margin"><input type="text" class="monster-input monster-ability-ctrl-fill" id="mictrl-aa-eff{{$index}}" size="40" ng-model="active.effect.effectDescription"></span></span>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>
            <!-- Controls to add new ability -->
            <div class="monster-ability-controls">
                <span class="clickable" ng-click="addActiveAbility()">[Click here to add an active ability:
                <span class="monster-add-ability-span">
                <button class="btn ability-add-button" title="Add active ability"><span class="glyphicon glyphicon-plus"></span></button> ]
                </span></span>
            </div>
        </div>
    </fieldset>

    <fieldset class="monster-controls" ng-disabled="savingInProgress">
        <button class="btn" title="Save monster" ng-click="saveMonster()">Save Monster &raquo;</button>
    </fieldset>
</form>
</div>