<div class="jumbotron text-center">
    <h2>Monster Overview</h2>
</div>

<div class="text-right" style="padding-right: 10px">
    <button class="btn" title="Create monster" ng-click="createMonster()">
        Create Monster <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>

<table class="table table-striped">
    <tbody style="text-align: center">
    <tr>
        <td><h4><strong>Monster Name:</strong></h4></td>
        <td><h4><strong>Monster Id:</strong></h4></td>
        <td><h4><strong>Monster Rank:</strong></h4></td>
        <td><h4><strong>Monster Details:</strong></h4></td>
    </tr>
    <tr ng-repeat="template in templates">
        <td><strong> {{template.name}} </strong></td>
        <td><strong> {{template.id}} </strong></td>
        <td><strong> {{template.rank}}</strong></td>
        <td>
            <button class="btn" title="Edit monster" ng-click="editMonster(template.id)">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
